<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RoadbookNavi nutzt Ihren Standort, um den Fortschritt im Roadbook automatisch mitzuführen. Ihre Position wird nicht gespeichert oder übertragen.</string>
	<key>NSLocationUsageDescription</key>
	<string>RoadbookNavi nutzt Ihren Standort, um den Fortschritt im Roadbook automatisch mitzuführen. Ihre Position wird nicht gespeichert oder übertragen.</string>
</dict>
</plist>
